.btn {
    font: inherit;
    padding: 0.3rem 0.5rem;
    color: white;
    font-weight: bold;
    background: rgb(136, 7, 145);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
}

@media (min-width: 768px){
    .btn {
        width: auto;
    }
}     