.new-item-box {
    margin: 3rem 0;
    border-radius: 10px;
    /* box-shadow: 0 2px 12px rgba(247, 245, 245, 0.063); */
}

.new-item {
    align-items: center;

}


.new-item label{    
    font-weight: bold;
    color: rgb(111, 86, 135);
}

.new-item input {
    display: block;
    border-width: 3px;
    height: 2rem;
    padding: 0rem 0.2rem;
    margin: 0.5rem 0;

}

.new-item.invalid input {
    background-color: rgba(255, 0, 0, 0.2);
    border-color: #f00;
}

.new-item.invalid h2 {
    color: red;
}



